################################################################################
#                                                                              #
#                           Requirements for testing                           #
#    (If you need production dependencies, add them to the `setup.py` file)    #
#                                                                              #
################################################################################

django
eha_jsonpath
jsonschema
redis
requests
six>=1.12
spavro

# Test libraries
coverage
fakeredis
flake8
pytest
pytest-runner
