################################################################################
#                                                                              #
#                           Requirements for testing                           #
#    (If you need production dependencies, add them to the `setup.py` file)    #
#                                                                              #
################################################################################

eha_jsonpath
jsonschema
# birdisle is not ready for 3.4
redis<3.4
requests
six>=1.12
spavro

# Test libraries

birdisle
coverage
flake8
pytest
pytest-runner
